<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/tufte.css">
		</head>
		<body>
			<nav>
	    		    	<a href="/">Home</a></li>
		        	<a href="/about">About</a></li>
	        		<a href="/cv">CV</a></li>
	        		<a href="/blog">Blog</a></li>
	    		</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lidianams@miami.edu">email</a></li>
	        		<li><a href="https://github.com/lidianams">github.com/lidianams</a></li>
				</ul>
			</footer>
		</body>
	</html>
